.warningPost {
  display: flex;
  gap: 1rem;
  background-color: rgb(40, 58, 58);
  input {
    border: none;
    outline: none;
    padding: .5rem;
    border-radius: 1rem;
    font-family: "Poppins";
    text-align: center;
    resize: none;
  }

  button {
    padding: .5rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    transition: .2s;
    background-color: rgb(30, 184, 30);

    &:hover {
      background-color: rgb(12, 146, 12);
    }
  }
}