@use '../../styles/cardColors.scss';

input {
  background-color: cardColors.$inputColor;
  color: cardColors.$inputFontColor;
  border: none;
  outline: none;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.2rem;
}
