.noError {
  background-color: white;
  color: black;
  border: none;
  outline: none;
  padding: 0.3rem;
  border-radius: 1rem;
  text-align: center;
}

.error {
  background-color: rgb(194, 74, 74);
  color: white;
  border: none;
  outline: none;
  padding: 0.3rem;
  text-align: center;
  border-radius: 1rem;
}

