.postContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(40, 58, 58, 0.897);
  width: 40rem;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 2rem;
  flex-direction: column;
  gap: 1rem;

  .title {
    position: relative;
    left: -15rem
  }
  
  input {
    outline: none;
    border: none;
    padding: .5rem;
    border-radius: 1rem;  
  }

  textarea {
    resize: none;
    outline: none;
    border: none;
    padding: 1rem;
    width: 38rem;
    height: 10rem;
    border-radius: 1rem;
  }

  button {
    outline: none;
    border: none;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 1rem;
    background: linear-gradient(-45deg, #52caee, #3ce789, #06b4f3, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
    cursor: pointer;
   
  }

  .span {
    color: white
  }

  .surpassedSpan {
    color: red;
  }
}

.postsTitle {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}

.allPostsContainer {
  margin-bottom: 5rem
}

.box {
  margin-top: 2rem;
  width: 60rem;
  height: auto;
  padding: 0 0 2rem 0;
  word-break: break-all;
  background-color: rgba(40, 58, 58, 0.897);
  border-radius: 0 2rem 1rem 4rem;
  h1 {
    padding: 1rem;
    height: auto;
    background-color: rgb(12, 26, 26);
    word-break: break-all;
  }

  p {
    padding: 1rem;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}