$backgroundColor: rgba(0, 0, 0, 0.705);
$inputColor: #faf8f8;
$inputFontColor: #000000a2;
$titleColor: #ffffff;
$buttonTextColor: #ffffff;
$buttonColor: #3f2b86;
$buttonColorHover: #261561;
$buttonColorActive: #5740aa;
$pColor: #fff;
$strongColor: #ca3c3c;
$strongColorHover: #9e2525;
$strongColorActive: #c74b4b;
