$backgroundColor: rgba(0, 0, 0, 0.705);
$inputColor: #faf8f8;
$inputFontColor: #000000a2;
$titleColor: #ffffff;
$buttonColor: #ce8c36;
$buttonColorHover: #92601f;
$buttonColorActive: #f0b66a;
$pColor: #fff;
$strongColor: #ca3c3c;
$strongColorHover: #9e2525;
$strongColorActive: #c74b4b;
