@use '../../styles/cardColors.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url('../../../public/images/banner.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.homeContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.521);
  width: 30rem;
  backdrop-filter: blur(.2rem);
  height: 20rem;
  .text {
    margin-bottom: 1.5rem;
    font-weight: 200;
    font-size: 2rem;
    color: #ffffff;
  }
}

.buttons {
  display: flex;
  gap: 2rem;
}

.homeButton {
  border: none;
  outline: none;
  cursor: pointer;
  color: cardColors.$buttonTextColor;
  padding: 1.2rem;

  background-color: cardColors.$buttonColor;
  border-radius: 0.5rem;
  transition: 0.2s;

  &:hover {
    background-color: cardColors.$buttonColorHover;
  }

  &:active {
    background-color: cardColors.$buttonColorActive;
  }
}
