.warningPost {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: rgba(26, 39, 39, 0.315);
  padding: 2rem;
  border-radius: 2rem;
  backdrop-filter: blur(1rem);
  gap: 2rem;
  .deleteButton {
    border: none;
    outline: none;
    padding: .5rem;
    border-radius: 1rem;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: .2s;

    &:hover {
      background-color: rgb(168, 11, 11);
    }
  }
}