.containerUser {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(
    20deg,
    rgb(153, 24, 121),
    rgb(201, 110, 49),
    rgb(194, 183, 83)
  );

  color: white;
}

.infobox {
  margin-top: 5rem;
  background-color: rgba(40, 58, 58, 0.897);
  width: 40rem;
  height: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    background-color: rgb(145, 145, 145);
    width: 60%;
    border-radius: 1rem;
    padding: 0.4rem;
    height: auto;
    font-size: 1rem;
    font-style: italic;
  }

  .delete {
    width: 30rem; 
    height: 10rem;
    background-image: linear-gradient(360deg, rgb(172, 43, 43), rgb(255, 0, 0));
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    button {
      border: none;
      outline: none;
      padding: 0.5rem;
      background-color: rgb(255, 0, 0);
      border-radius: 0.2rem;
      color: rgb(255, 255, 255);
      cursor: pointer;
      transition: .2s;
      &:hover {
        background-color: rgb(172, 6, 6);
      }

      &:active {
        background-color: rgb(207, 40, 40);
      }
    }
  }

  .edit {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30rem; 
    padding: 1rem;
    border-radius: 1rem;
    background-image: linear-gradient(360deg, rgb(21, 105, 42), rgb(78, 214, 96));
   
    button {
      border: none;
      outline: none;
      padding: 0.5rem;
      background-color: rgb(65, 173, 38);
      border-radius: 0.2rem;
      color: rgb(255, 255, 255);
      cursor: pointer;
      transition: .2s;
      margin-top: 1rem;
      
      &:hover {
        background-color: rgb(44, 158, 63);
      }

      &:active {
        background-color: rgb(94, 235, 106);
      }
    }
  }

  .warnings {
    display: flex;
    gap: 2rem;
  }
}
