.containerUser {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../../assets/images/background.jpg');
  background-repeat: repeat-y;
  background-size: 100%;
  color: white;
}

.userData {
  display: flex;
  justify-content: center;

  width: 100%;
  gap: 2rem;
}

.profile {
  width: 50%;
}

.avatar {
  width: 10rem;
  height: auto;
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
  height: 20rem;
  width: 20%;
  background-color: rgb(40, 58, 58);
  border-radius: 2rem;
  gap: 1rem;
  padding: 2rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.356);

  p {
    text-align: center;
    font-size: 1.5rem;
  }
}

.infobox {
  background-color: rgb(40, 58, 58);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.356);

  h1 {
    background-color: rgb(145, 145, 145);
    width: 60%;
    border-radius: 1rem;
    padding: 0.4rem;
    height: auto;
    font-size: 1rem;
    font-style: italic;
    word-break: break-all;
  }

  .settings {
    background-color: rgb(125, 80, 185);
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: .2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: .2s;
    cursor: pointer;
    &:hover {
      background-color: rgb(91, 50, 146);
    }
  } 
}

.postsTitle {
    margin-top: 2rem;
    color: white;
    font-size: 2rem;
    width: auto;
    height: auto;
    z-index: 1;
    text-align: center;
    position: relative;
    background-color: rgb(112, 33, 33);
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.507);
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgb(241, 72, 72);
      animation: typewriter 1s ease forwards;
    }
  }
  
  @keyframes typewriter {
    to { left: 100%; }
 }
