.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(43, 39, 36);
  height: 3rem;
  width: 100vw;

  position: fixed;

  .logo {
    margin-left: 2rem;
  }

  h1 {
    font-size: 2rem;
    color: white;
    margin-right: 2rem;
  }

  strong {
    font-size: 2rem;
    margin-left: 2rem;
    transition: 0.2s;

    color: rgb(211, 119, 57);

    &:hover {
      color: rgb(248, 174, 114);
    }
  }
}
