.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(43, 39, 36, 0.733);
  height: 3rem;
  width: 100%;
  box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.315);
  backdrop-filter: blur(.2rem);
  position: fixed;
  z-index: 2;

  .logo {
    margin-left: 2rem;
    cursor: default;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .logoImg {
    height: 2rem;
    width: 2rem;
  }

  .welcomeQuote {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 6rem;
  }
  h1 {
    font-size: 2rem;
    color: white;
  }

  strong {
    font-size: 2rem;
    margin-left: 2rem;
    transition: 0.2s;
    cursor: pointer;
    color: rgb(97, 55, 252);
    margin-left: .5rem;
    cursor: default;

    &:hover {
      color: rgb(156, 129, 255);
    }
  }

  .logout {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1rem;
    color: rgb(197, 57, 57);
    transition: .2s;
    
    &:hover {
      color:rgb(230, 97, 97)
    }

    &:active {
      color: rgb(192, 53, 53);
    }
  }
}
