.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(43, 39, 36);
  height: 3rem;
  width: 100vw;

  position: fixed;
  strong {
    font-size: 2rem;
    margin-left: 2rem;
    transition: 0.2s;
    cursor: pointer;
    color: white;
    &:hover {
      color: rgb(189, 189, 189);
    }
  }
}

.paths {
  display: flex;
  margin-right: 6rem;
  gap: 2rem;
  cursor: pointer;
  color: white;
  p {
    transition: 0.2s;
    &:hover {
      color: rgb(189, 189, 189);
    }
  }
}
