.containerEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/images/backgroundEdit.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  color: white;
}

.contentBox { 
  word-break: break-all;
  width: 20rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.616);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem;
  gap: 1rem;
  border-radius: 1rem;

  strong {
    margin-top: 2rem;
    font-size: 1.3rem
  }

  .warningPassword {
    color: rgb(194, 59, 59);
  }

  button {
    border: none;
    outline: none;
    background-color: rgb(32, 184, 108);
    color: white;
    padding: .5rem;
    border-radius: 1rem;
    transition: .2s;
    margin-bottom: 0rem;
    &:hover {
      background-color: rgb(23, 146, 85);
    }
  
    &:active {
      background-color: rgb(75, 209, 142);
    }
  }


  .buttonDisabled {
    background-color: red;
    cursor: not-allowed;
    &:hover {
      background-color: rgb(175, 32, 32);
    }
  }
}