@use '../../styles/cardColors.scss';

.containerRegister {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("../../assets/images/banner.jpg");
  background-position: center center;
  height: 100vh
}

.contentCardRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  width: 20rem;
  padding: 2rem;
  height: 35rem;
  gap: 1rem;
  border-radius: 1rem;

  background-color: cardColors.$backgroundColor;
  backdrop-filter: blur(.2rem);

  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.329);

  h1 {
    color: cardColors.$titleColor;
    font-size: 1.5rem;
  }

  
  .button {
    border: none;
    outline: none;
    cursor: pointer;
    color: cardColors.$buttonTextColor;
    padding: .8rem;
    font-family: "Poppins";
    background-color: cardColors.$buttonColor;
    border-radius: 0.5rem;
    transition: 0.2s;

    &:hover {
      background-color: cardColors.$buttonColorHover;
    }

    &:active {
      background-color: cardColors.$buttonColorActive;
    }
  }

  p {
    color: cardColors.$pColor;
    font-size: 1rem;
  }

  .errorPassword {
    color: rgb(252, 76, 76)
  }
  
  strong {
    color: rgb(120, 223, 120);
    font-size: 1rem;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      color: rgb(191, 253, 191);
    }

    &:active {
      color: rgb(80, 177, 80);
    }
  }
}
